<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

	<!--enable @preauthorize and @postauthorize -->
	<global-method-security pre-post-annotations="enabled" />

	<http>
		<intercept-url pattern="/report.neil" access="hasRole('ADMIN')" />
		<form-login login-page='/login.neil' default-target-url="/report.neil"
			always-use-default-target='true' />
		<csrf disabled="true" />
		<logout />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="junma" password="junma" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>